*{
	margin:0;
	padding: 0;
}

video{
	width:100%;
	position: absolute;
	top:auto;
	left:0;
	right:0;
	bottom:0;
}

.rect{
	width:1000px;
	height:550px;
	border:2px solid orange;
	border-radius: 15px;
	margin:auto;
	position: absolute;
	left:0;
	right:0;
	bottom:50px;
	/*z-index: 0.1;*/
}
h3{
	width:300px;
	font:bold 50px/100px arial;
	position: absolute;
	left:200px;
	right:0;
	top:80px;
	/*bottom:50px;*/
}
h4{
	width:400px;
	font:25px/60px arial;
	position: absolute;
	right:200px;
	top:100px;
	color:#fff;
	/*bottom:50px;*/
}

h5{
	width:400px;
	position: absolute;
	right:20px;
	bottom:60px;
}
h5 img{
	width:35px;
	height:30px;
}

input{
	background:transparent;
	width:200px;
	height:100px;
	/*background: rgba(255,255,255,.1);*/
	border-radius: 10px;
	position: absolute;
	left:43%;
	top:52%;
	outline: none;
	font:bold 15px/100px arial;
	color: orange;
	box-shadow: 1px 1px 15px 1px orange;
}
audio{
	width:100px;
	height:20px;
	
}
